<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{name}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="/assets/favicon.png">
        <link rel="stylesheet" href="/assets/template/style.css">
    </head>
    <body>
        <div class="container">
            <div style="display: flex; flex-direction: column; gap: 30px;">
                <div class="box" style="padding-top: 0px; width: 300px;">
                    <img src="/assets/logo.jpg" width="300px" height="300px">
                    <h1>{{name}}</h1>
                </div>
                <div style="display: flex; gap: 20px; justify-content: space-evenly; width: 600px;">
                    <div class="box" style="flex: 1; margin: 0px; max-width: 100%;">
                        <div style="display: flex; align-items: center; justify-content: center; gap: 5px;">
                            <img style="filter: brightness(0) saturate(100%) invert(60%) sepia(100%) saturate(700%) hue-rotate(15deg) contrast(1.1);" src="/assets/assets.svg" width="30px" height="30px">
                            <a href="/assets"><h2>Assets</h2></a>
                        </div>
                    </div>
                    <div class="box" style="flex: 1;  margin: 0px; max-width: 100%;">
                        <div style="display: flex; align-items: center; justify-content: center; gap: 5px;">
                            <img src="/assets/swagger.png" width="30px" height="30px">
                            <a href="/explorer"><h2>OpenAPI Explorer</h2></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>